*{
    margin: 0;
    padding: 0;
    /* background-color: rgb(233, 236,239);     */
    text-decoration: none;
    list-style-type:none;
}
.container{
align-items: center;
background-color: rgb(233, 236,239);
display: flex;
height: 100vh;
flex-direction: column;
justify-content: center;
}
.container-body{
    border: 1px solid white;
    height: 60vh;
    width: 400px;
}
.container-head{
    padding: 25px 25px 25px 25px;
    text-align: center;
    position: fixed;
    background-color: aqua;
    width: 100%;
}
.body-img img{
    width: 180px;
    height: 180px;
    margin-left: 30%;
}
.body-head{
    text-align: center;
    padding-top: 10px;
}
.body-enter{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap:0.2rem;
}
.staff{
    background-color: rgb(23, 162, 184);
    padding: 15px;
    border-radius: 5px; 
    cursor: pointer;  
}
.student{
    background-color:rgb(0, 123, 255);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.staff a{
    color: white;
    margin-left: 40px;
}
.staff h1{
    margin-left: 30px;
}
.staff p{
    margin-left: 30px;
}
.student a{
    color: white;
    margin-left: 40px;
}
.student h1{
    margin-left: 20px;
}
.student p{
    margin-left: 30px;
}
.student:hover{
    background-color: rgb(57,116,180);
    transition: 4ms;
}
.staff:hover{
    background-color: rgb(7,115,132);
    transition: 4ms;
}
.copyright{
    margin-left: 40%;
    color: rgb(108, 117, 125);
}

/* login css */
.login-container{
align-items: center;
background-color: rgb(233, 236,239);
display: flex;
height: 100vh;
flex-direction: column;
justify-content: center;
}
.login-image img{
    width: 180px;
    height: 180px;
    /* margin-left: 8%; */
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
}
form input{
    padding: 5px;
    border-radius: 4px;
    background-color: white;
}
input[type='submit']{
    background-color: rgb(23, 162, 184);
    cursor: pointer;
}
input[type='submit']:hover{
    background-color: rgb(7,115,132);
    transition: 4ms;
}
.login-content p{
    margin-top: 10px;
}
.register{
    margin-top: 10px;
    background-color:rgb(0, 123, 255);
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.register a{
    color: white;
    margin-left: 30%;
}
.register:hover{
    background-color: rgb(57,116,180);
    transition: 4ms;
}

/* register css */
.register-container{
align-items: center;
background-color: rgb(233, 236,239);
display: flex;
height: 100vh;
flex-direction: column;
justify-content: center;
}

/* dashboard css */
.dashboard-container{
    background-color: rgb(233, 236,239);
    display: grid;
    grid-template-columns: 20% 80%;
    transition: grid-template-columns 0.3s ease;
    height: 100vh;
}
.dashboard-small{
    background-color: white;
    height: 100vh;
    
}
.dashboard-img{
    padding: 25px 10px 10px 10px;
    margin-left: 15%;
    
}
.dashboard-img img{
    height: 150px;
}
.personal-info{
    background-color: #E3E6F3;
    padding: 20px;
    margin-left: 2px;
    margin-right: 2px;
}
.personal-info:hover{
    background-color: white;
    transition: var(--transition);
}
.personal-info a{
    margin-left: 15%;
}
.contact-saved{
    background-color: #E3E6F3;
    padding: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
}
.contact-saved:hover{
    background-color: white;
    transition: var(--transition);
}
.contact-saved a{
    margin-left: 15%;
}
.dashboard-large{
    background-color: var(--color-bg);
    height: 100vh;
}
.dashboard-sub-large{
    background-color: antiquewhite;
    height: 8vh; 
    display: grid;
    grid-template-columns: 90% 10%;   
}
.dashboard-heading{
    padding: 10px 10px 10px 10px;
}
.heading-img{
    padding: 10px 10px 10px 10px;
}
.request{
    background-color: #E3E6F3;
    padding: 20px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
}
.request:hover{
    background-color: white;
    transition: var(--transition);
}
.request a{
    margin-left: 15%;
}
.profile{
    background-color: white;
    width: 100%;
    padding: 20px 20px 20px 20px;
    margin-left: 20px;
    border-left: 4px solid #088178;
    border-radius: 4px;
}
.profile-body{
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
    gap: 0.5rem;
    
}
.student-info{
    background-color:white;
    height: 60vh;
    border: 1px solid grey;
    border-radius: 2px;
}
.student-name{
    text-align: center;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid grey;
}
.student-attributes p{
    
    padding: 10px 10px 10px 10px;    
}
.border-bottom{
    border-bottom: 1px solid grey;
}
.application{
    background-color: white;
    border: 1px solid grey;
    height: 60vh;
    width: 100%;
    border-radius: 2px;
}
.application-nav{
    border-bottom: 1px solid grey;
}
.application-nav ul{
    margin-top: 10px;
    display: flex;
    margin-left: 15%;
    gap: 5rem;
    margin-bottom: 10px;
   
}
.lecture-body{
    margin-top: 10px;
    margin-left: 20px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    background-color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    gap: 0.5rem; 
}
.time-table{
    background-color: #E3E6F3;
    text-align: center;
    border: 1px solid black;
}
.time-table img,h3{
    padding: 20px 20px 20px 20px;
}

.notifications{
    background-color: #E3E6F3;
    border: 1px solid black;
}
.confirmation-heading{
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.notifications form p{
    margin-left: 20%;
}
/* student information system */
.sinfos-main{
    background-color: aqua;
    width: 70%;
    padding: 20px 20px 20px 20px;
    margin-top: 100px;
    margin-left: 20%;
    margin-bottom: 50px;
}
.sinfos-img img{
    padding: 5px 5px 5px 5px;
}
.sinfos-body{
    display: grid;
    grid-template-columns: 20% 80%;
   
}
.sinfos-info textarea{
    width:90%;
}
.sinfos-info input{
    padding: 3px 3px 3px 3px;
}
.gender{
    margin-top: 2px;
    display: flex;    
}
.sinfos-info .gender input[type=radio]{
    padding: 0px 0px 0px 0px;
}
/* admin-panel css */
.admin-header{
    background-color: aqua;
    height: 10vh;
}
.admin-header{
    display: grid;
    grid-template-columns: 15% 85%;
}
.admin-header-head h2{
    margin-left: 35%;
    padding: 20px 20px 20px 20px;
}
.admin-header-img{
    padding: 5px 20px 20px 20px ;
}
.tim-table{
    background-color: #088178;
    height: 70vh;
}
.upload-timetable form{
    width: 40%;
    margin-left: 30%;
}
.upload-timetable input[type='submit']{
    width: 30%;
}
.upload-timetable form input{
    padding: 10px 10px 10px 10px;
}
.lecturers{
    background-color: aquamarine;
    height: 70vh;
}
.lecturers-heading{
    text-align: center;
}
.lecturers-list{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1rem;
    padding-left: 70px;
}
.lecturer{
    padding: 10px 10px 10px 10px;
    background-color: white;
    width: 60%;
}
.actions{
    gap: 0.5rem;
}
.actions a{
    background-color: #E3E6F3;
}
.students{
    background-color: blue;
    height: 70vh;
}
.students-heading{
    text-align: center;
}
.courses{
    background-color: pink;
    height: 70vh;
}
.courses-heading{
    text-align: center;
}
.courses form{
    margin-left: 25%;
    width: 60%;
}
.text{
    text-align: center;
}
.courses-form{
    border: 1px solid black;
    width: 45%;
    margin-left: 30%;
    height: 50vh;
    
}
/* personal css styles */
.personal-container{
    margin: 100px 30px 30px 280px ;
    background-color:blue;
    height: 40vh;
    width: 60%;
}
.personal-heading{
    padding: 20px 20px 20px 20px;
    background-color:var(--color-border);
}

.personal-heading h2{
    margin-left: 25%;
}
.contact-card{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 30px;
    padding-bottom: 20px;
}
.contact-abouts{
    margin-top: 20px;
    margin-left: 30px;
}
/* view css  */

.view-head{
    padding: 20px 20px 20px 20px;
}
.view-head h2{
    margin-left: 45%;
}
table{
    padding: 20px 20px 20px 20px;
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}
th{
    background-color: gray;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}
td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}
.regform form{
    width: 50%;
    margin-left: 30%;
}
.uploading-form{
    margin-left: 10%;
}
.uploading-form form{
    width: 50%;
}
